<div fxLayout="row">
  <h1 fxFlex="50">My chatbots</h1>
  <div fxFlex fxLayoutAlign="end center" fxLayoutGap="12px">
    <input [(ngModel)]="searchText" fxFlex="40" matInput placeholder="Search" />
    <button (click)="orderByName()" mat-button>Order by name</button>
    <button (click)="orderByCreation()" mat-button>Order by creation</button>
    <img
      (click)="toggleCards = true"
      src="../../../assets/organize-blocks.png"
      alt="Organize blocks"
    />
    <img
      (click)="toggleCards = false"
      src="../../../assets/organize-list.png"
      alt="Organize list"
    />
  </div>
</div>

<h2>Favorites</h2>

<div *ngIf="!toggleCards">
  <div class="mg-top-bot-24" *ngFor="let chatbot of getFavorites()">
    <app-chatbot-as-list
      *ngIf="chatbot.favorite"
      [chatbot]="chatbot"
    ></app-chatbot-as-list>
  </div>
  <mat-divider></mat-divider>
  <div class="mg-top-bot-24" *ngFor="let chatbot of filterByName(searchText)">
    <app-chatbot-as-list
      *ngIf="!chatbot.favorite"
      [chatbot]="chatbot"
    ></app-chatbot-as-list>
  </div>
</div>

<div *ngIf="toggleCards" class="container">
  <div *ngFor="let chatbot of getFavorites()">
    <app-chatbot-as-square
      *ngIf="chatbot.favorite"
      [chatbot]="chatbot"
    ></app-chatbot-as-square>
  </div>
</div>
<mat-divider *ngIf="toggleCards"></mat-divider>
<div *ngIf="toggleCards" class="container">
  <div *ngFor="let chatbot of filterByName(searchText)">
    <app-chatbot-as-square
      *ngIf="!chatbot.favorite"
      [chatbot]="chatbot"
    ></app-chatbot-as-square>
  </div>
</div>
<mat-divider></mat-divider>
<div class="light-blue" fxLayoutAlign="center center">
  ©2021, BLiP All rights reserved |
  <strong>&nbsp;Terms of Use</strong>
</div>
<div class="add-button">
  <img src="../../../assets/add.png" alt="Add" />
</div>
