<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <img
    (click)="setFavorite(chatbot)"
    *ngIf="!chatbot.favorite"
    src="../../../assets/favorite.png"
    alt=""
  />
  <img
    (click)="removeFavorite(chatbot)"
    *ngIf="chatbot.favorite"
    src="../../../assets/star.png"
    alt="Star"
  />

  <div class="panel" fxLayout="row">
    <span [style.background-color]="chatbot.dotColor" class="dot"></span>
    <div fxFlex fxLayoutAlign="space-between center">
      <div class="name">{{ chatbot.name }}</div>
      <div class="tag">
        Created at {{ chatbot.created | date: "dd/MM/yyyy" }}
      </div>
    </div>
  </div>
</div>
