.panel {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.2);
  width: 100%;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
