.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 32px;
  flex-direction: column;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a2437;
}
