.pane {
  padding: 94px 64px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a2437;
}
