<div class="square">
  <img
    (click)="setFavorite(chatbot)"
    *ngIf="!chatbot.favorite"
    src="../../../assets/favorite.png"
    alt="Favorite"
  />
  <img
    (click)="removeFavorite(chatbot)"
    *ngIf="chatbot.favorite"
    src="../../../assets/star.png"
    alt="Favorite"
  />
  <div fxLayout="column" fxLayoutAlign="center center">
    <span [style.background-color]="chatbot.dotColor" class="circle"></span>
    <div class="name">{{ chatbot.name | titlecase }}</div>
    <div class="tag">{{ chatbot.template | titlecase }}</div>
  </div>
</div>
