.square {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  margin-right: 18px;
  margin-top: 18px;
  padding: 16px 16px 32px 16px;
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.name {
  color: #5d6d75;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.tag {
  color: #7c8999;
  font-weight: 300;
}

.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
}

img {
  cursor: pointer;
}
